
// [home page] section hero //
.hero{
    background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url('../images/home/png/hero-bg.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 16rem;
    min-height: 746px;
    position: relative;
    padding-top: 9.5rem;
    
    &__container{
        padding-top: 15.3em;
    }
    
    &__path{
        position: absolute;
        top: 60%;
    }
    &__arrow{
        position: absolute;
        left: 50%;
        top: 60%;
        
    }
    
    &__title{
        @include font(5.6rem, 5.6rem, $white-color);
        margin-bottom: 4rem;
    }
    
    &__info{
        display: inline-block;
        width: 100%;
        max-width: 405px;
        margin-left: 12rem;
    }
    
    &__desc{
        @include font(1.5rem, 2.5rem, $white-color, 'lexend deca', 400);
        margin-bottom: 4rem;
        
    }
    
    &__btn{
        display: inline-block;
    }
}

// responsive [home page] section hero  //

@include responsive(tablet){
    .hero{
        background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
        url('../images/home/png/tablet-hero-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 0;
        
        &__container{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        &__path{
            display: none;
        }
        
        &__arrow{
            position: absolute;
            left: -125px;
            top: 73%;
            
        }
        
        &__info{
            max-width: 573px;
            margin-left: 0;
        }
        
    }
    
}

@include responsive(mobile){
    .hero{
        background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
        url('../images/home/png/mobile-hero-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        margin-bottom: 12rem;
        
        .bracket{
            display: none;
        }
        
        &__title{
            @include font(3.8rem, 4rem,  $white-color);
            margin-bottom: 2.4rem;
            
        }
        
        
        &__info{
            display: inline-block;
            width: 100%;
            max-width: 311px;
            margin-left: 0;
            text-align: center;
            margin-bottom: 7px;
        }
        
        &__desc{
            @include font(1.5rem, 2.5rem, $white-color, 'lexend deca', 400);
            margin-bottom: 3.4rem;
        }
        
        &__arrow{
            left: -300px;
            top: 78%;
        }
        
    }
    
    
}

// [home page] section services //

.services{
    margin-bottom: 100px;
    
    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        position: relative;
        column-gap: 25px;
    }
    
    &__item{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }
    
    &__item::before{
        content: "";
        position: absolute;
        height: 15px;
        background-color: #e5ecf4; 
        width: 324px;
        right: calc(100% - 16px);
        top: 45px;
    }
    img{
        margin-bottom: 4rem;
        z-index: 1;
        position: relative;
    }
    &__title{
        @include font(2.4rem, 2.8rem,);
        margin-bottom: 2.7rem;
    }
    &__desc{
        @include font(1.5rem, 2.5rem, $dim-grey, 'lexend deca');
    }
}

// responsive [home page] services section

@include responsive(tablet){
    .services{
        
        &__list{
            display: grid;
            grid-template-columns: repeat(1, 573px);
            row-gap: 40px;
        }
        &__item{
            flex-direction: row;
            
        }
        
        img{
            margin-right: 7.9rem;
            margin-bottom: 0;
        }
        &__item::before{
            content: "";
            position: absolute;
            height: 250px;
            background-color: #e5ecf4; 
            width: 15px;
            right: calc(100% - 55px);
            top: -103%;
        }
    }
}
@include responsive(mobile){
    .services{
        &__list{
            display: grid;
            grid-template-columns: repeat(1, 311px);
            row-gap: 24px;
        }
        &__item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
        &__item::before{
            display: none;
        }
        img{
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 2.4rem;
        }
        &__title{
            margin-right: auto;
            margin-left: auto;
        }
        &__desc{
            margin-right: auto;
            margin-left: auto;
        }
    }
}


// [home page] comfortable section
.comfortable{
    padding-top: 10rem;
    margin-bottom: 32.9rem;
    overflow-x: hidden;
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 155px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    &__item:nth-child(even){
        flex-direction: row-reverse;
    }
    
}
.item{
    position: relative;
    
    &:first-child::before{
        content: "";
        background-image: url('../images/home/svg/arrow_mask.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: -3px;
        right: -50%;
    }
    &:nth-child(2)::before{
        content: "";
        background-image: url('../images/home/svg/arrow_mask-left.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 1084px;
        height: 449px;
        bottom: -3px;
        left: -50%;
    }
    
    &:nth-child(3)::before{
        content: "";
        background-image: url('../images/home/svg/arrow_mask-right.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 1084px;
        height: 449px;
        top: 0;
        right: -80%;
    }
    
    &__content{
        width: 100%;
        max-width: 445px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title{
        @include font(4.8rem, 4.8rem,);
        opacity: 0.8;
        letter-spacing: -2px;
        margin-bottom: 2.4rem;
    }
    &__desc{
        @include font(1.5rem, 2.5rem, $dim-grey, 'lexend deca', 400);
        margin-bottom: 4rem;
    }
    &__img{
        border-radius: 50%;
        display: block;
        width: 445px;
        height: 445px;
        object-fit: cover;
    }
}
// responsive [home page] comfortable section

@include responsive(tablet){
    .comfortable{
        .item{
            flex-direction: column;
            flex-direction: column-reverse;
        }
        
    }
    .item{
        &__content{
            align-items: center;
            text-align: center;
        }
        
        &::before {
            top: 0;
        }
        
        &:nth-child(3)::before {
            right: -100%;
        }
        &__img{
            margin-bottom: 6.4rem;
        }
        &__title{
            margin-bottom: 4rem;
        }
        &__desc{
            margin-bottom: 4rem;
        }
        
    }
}

@include responsive(mobile){
    .comfortable{
        margin-bottom: 12rem;
        &__list{
            row-gap: 0;
        }
        .item{
            &:first-child::before{
                right: -215%;
                top: -18%;
            }
            &:nth-child(2)::before{
                top: 8%;
                left: -153%;
            }
            &:nth-child(3)::before{
                top: -11%;
                right: -255%;
            }
            
            
        }
        
        
    }
    
    .item{
        &__img{
            width: 311px;
            height: 311px;
            margin-bottom: 5.6rem;
        }
        &__title{
            @include font(3.2rem, 3.2rem);
            letter-spacing: -1px;
            margin-bottom: 3.2rem;
        }
        &__desc{
            margin-bottom: 3.2rem;
        }
        &:not(:last-child){
            margin-bottom: 12rem;
        }
    }
    
}


// [home page] cta section
.cta{
    background-color: $dark-navy;
    background-image: url('../../images/home/svg/footer-mask.svg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: bottom right;
    
    &__container{
        padding: 10.2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        @include font(4.8rem, 4.8rem, $white-color);
        letter-spacing: -2px;
    }
    .download{
        display: flex;
        align-items: center;
        column-gap: 1.1rem;
    }
    
    
}

// responsive [home page] cta section
@include responsive(tablet){
    .cta{
        &__container{
            padding: 6.2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        &__title{
            margin-bottom: 4rem;
            
        }
    }
    
}

@include responsive(mobile){
    .cta{
        &__container{
            padding: 4.2rem 0 8.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        &__title{
            @include font(3.2rem, 3.2rem, $white-color);
            letter-spacing: -1px;
        }
        br{
            display: none;
        }
        .download{
            padding: 0 2.8rem;
        }
    }
}








