.header{
    width: 100%;
    padding: 2.2rem 0;
    background: rgba(255, 255, 255, 0.636);
    position: fixed;
    z-index: 10;
    
    &__container{
        display: flex;
        align-items: center;
    }

    &__site-logo{
        margin-right: 5.8rem;
        user-select: none;
    }

    &__toggle-nav-btn{
        display: none;
        background-color: transparent;
    }
    

}


// RESPONSIVE //

@include responsive(tablet){
    .header{
        padding: 3.5rem 4rem;
    }
}

@include responsive(mobile){
    .header{
        padding-top: 2.2rem;

        &__toggle-nav-btn{
            display: inline-block;
            border: none;
            margin-right: 0;
        }

        &__site-logo{
            margin-right: auto;
            margin-left: auto;
        }
        &__logo-img{
            width: 75px;
        }

    }
}
