*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: flex;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono';
    background-color: #f2f2f2;
} 

.container {
    width: 100%;
    max-width: 1166px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
main{
    flex-grow: 1;
}